@import "tailwindcss";

@theme {
    --breakpoint-sm: 32rem;
    --breakpoint-md: 40rem;
    --breakpoint-lg: 60rem;
}

.slide-in {
    --slide-transform: 0%;
    --slide-opacity: 1;
    transition: transform 150ms ease-in, opacity 150ms ease-in;
}

.slide-in-enter {
    --slide-transform: 40%;
    --slide-opacity: 0;
}

.slide-out {
    --slide-transform: 0%;
    --slide-opacity: 1;
    transition: transform 150ms ease-in, opacity 150ms ease-in;
}

.slide-out-enter {
    --slide-transform: -20%;
    --slide-opacity: 0;
}

html,
body {
    /* prevent flickering when refreshing */
    background-color: #000000;
}

@media (hover: none) {
    .hover-capable-only {
        display: none;
    }
}

@media (hover: hover) {
    .hover-incapable-only {
        display: none;
    }
}

@media (min-width: 60rem) {
    .nav-indicator-first {
        border-bottom-left-radius: 1.5rem;
    }
    .nav-indicator-last {
        border-bottom-right-radius: 1.5rem;
    }
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    scrollbar-width: none;
}

a:not(.no-mobile-ripple), button:not(.no-mobile-ripple), .mobile-ripple {
    position: relative;
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
    transform: translateZ(0); /* Hardware acceleration */
}

.ripple-circle {
    position: absolute;
    border-radius: 50%;
    pointer-events: none;
    z-index: 1;
    animation: ripple-animation 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transform: translate(-50%, -50%) scale(4);
    transition: all 0.1s ease-in;
    background: rgba(255, 255, 255, 0.03);
}

@keyframes ripple-animation {
    0% {
        transform: translate(-50%, -50%) scale(0);
        background: rgba(255, 255, 255, 0.1);
    }
    100% {
        transform: translate(-50%, -50%) scale(4);
        background: rgba(255, 255, 255, 0.03);
    }
}

@media (hover: hover) and (pointer: fine) {
    .ripple-circle {
        display: none;
    }
    a:not(.no-mobile-ripple), button:not(.no-mobile-ripple), .mobile-ripple:active {
        transform: none;
    }
}
